.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #1a1b1e;
}

.search-box {
  outline: none;
  border: 1px solid #b4b4b4;
  border-radius: 5px 0 0 5px;
  background: #f4faf9;
}

.logo {
  width: auto;
  height: 2rem;
  transform: scale(65%);
}
