.hamburger-menu {
  width: 24px;
  height: 20px;
  /* background-color: black; */
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 5px;
  position: relative;
}

.hamburger-menu .line {
  position: absolute;
  width: 35px;
  height: 2px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-radius: 5px;
  background-color: #fafafa;
  transform: rotateX(0);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in;
}

#first-line {
  transform: translateY(-6px);
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu:hover > .line {
  margin-top: 0 !important;
  background-color: rgb(247, 88, 88);
}



.hamburger-menu:hover #first-line {
 width: 35px;
 transform: rotateZ(-45deg);
}

.hamburger-menu:hover #second-line {
 transform: rotateZ(45deg);
}