.notification-message-text{
   display: flex;
   flex-direction: row;
   justify-content: center;
   color: #fff;

}

.notification-message{
   background-color: #303030;
   padding: 4px 0px 4px 0px ;

}


.game-list{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   
}

.header{
   display:flex;
   background-color: black;
   padding: 1rem;
}

.game-row{
   background-color: rgb(249, 249, 253);
   /* background-color: red; */
   padding: 2rem 3rem 2rem 1rem;
   border-radius: 2rem;
   margin: 1rem 1rem 3rem 1rem;
}


.test-text{
   color: #fff;

}

.row-tags{
   color: #4f4f4f;
   font-size: 1rem;
   top: 1rem;
}