.search-component {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.games-home-page {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  
.games-home-page {
  flex-direction: column;
}
}